/* 여러개의 선택자 */
#first.one {
  color: red;
}

/* 복합선택자 */

/* 후손 */
.container .user-name {
  color: brown;
}

/* 자식 */
.container > .item {
  background-color: blue;
}

/* 인접 형제 */
h3 + h4 {
  color: aqua;
}

/* 형제 */
h3 ~ h5 {
  color: red;
}

/* 가상 선택자 */
a:hover {
  color: green;
}
a:active {
  color: aqua;
}
a:focus {
  color: gray;
}
a:link {
  color: blue;
}
a:visited {
  color: brown;
}

h1,
h2 {
  color: red;
  border-radius: 5px;
}
