* {
  box-sizing: border-box;
}

div {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 10px;
}

.color {
  background-color: blue;
}

.image {
  /* background-image: url("../image/dog.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  background: url("../image/dog.jpg") no-repeat center / contain;
}

.size {
  background-image: url("../image/dog.jpg");

  background-size: cover;
}

.repeat {
  background-image: url("../image/dog.jpg");
  background-size: contain;
  background-repeat: space;
}

.position {
  background-image: url("../image/dog.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.attachment {
  background-image: url("../image/dog.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
